@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,500&display=swap');

*, ::before,::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

/* -----Back-ground----- */
body {
  background-color: #004747;
  color: #00F9F9;

}



/* ------Top Banner------- */

div .Top-Banner {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: 50px;
  width:100%;
  background-color: blue ;
  padding: 0 3% ;
  box-shadow: 0 0 5px 1px black;
}


/* ----Search------ */

form {
  display: flex;
  width: 90%;
}

form input {
  height: 30px;
  width: 27%;
  padding: 1%;
  background-color: lightblue;
  border: 1px solid darkblue;
  outline: none;
  border-radius: 4px 0 0 4px;
}

form button {
  margin-left: 1px;
  height: 30px;
  width: 60px;
  background-color: lightskyblue;
  border: 1px solid darkblue;
  border-radius: 0 4px 4px 0;
  transition: background-color 0.3s ease-in-out;
}

form button:hover {
  background-color: rgb(111, 176, 197);
}


/* ------ Grid------- */


#grid-container {
  display: grid;
  grid-template-rows:6fr 2px 2fr;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "tdy tdy tdy tdy tdy tdy tdy" "line line line line line line line " "h3 h6 h9 h12 h15 h18 h21";
  grid-gap: 20px;
  width: 70%;
  height: calc(100vh - 150px);
  margin: 100px auto 3%;
  
}

.today-weather {grid-area: tdy;}
.line {grid-area: line;}
.hour3 {grid-area: h3;}
.hour6 {grid-area: h6;}
.hour9 {grid-area: h9;}
.hour12 {grid-area: h12;}
.hour15 {grid-area: h15;}
.hour18 {grid-area: h18;}
.hour21 {grid-area: h21;}

/* ------grid items------ */
.line {
  background-color: black;
  height: 2px !important;
  width: 100% !important;

}

#grid-container >div{
  /* border: 1px darkblue solid; */
  margin: 0 auto;
  width: 80%;
  height: 100%;
  overflow: hidden;
  }


.today-weather {
  width: 400px ;
  border-radius: 0;
}
.today-weather img {
height: 80% !important;
}

#grid-container p {
  text-align: center;
  margin: 5px auto;
}

#grid-container div img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}


/* ---footer--- */

footer div {
  position: fixed;
  padding: 0 20px;
  bottom: 0%;
  height: 20px;
  width: 100%;
  background-color: darkgoldenrod;
  text-align: right;
  font-size: 0.7em;
  line-height: 1.3rem;
  color: black;
}


/* ---media queries--- */

@media (max-width:560px) {
  
.Top-Banner {
  justify-content: center;
}

form {
  justify-content: center;
}

form input {
  width: 70%;
}

#grid-container {
  display: flex;
  flex-direction: column;
  grid-gap: 0%;
  width: 90%;
  margin-bottom: 50px;
  height: auto;
}

.hp {
  margin: 10px auto;
}

.line{
  margin: 20px auto;
}
#grid-container div {
  width: 100%;
}

#grid-container p {
margin: 0;
}

#grid-container div:not(:first-child){
display: flex;
align-items: center;
justify-content: space-between;
height: auto;
}



#grid-container div img:not(:first-child) {
  width: 20%;
  height: 50%;
  object-fit: cover;
  overflow: visible;
  order: 3;
}}